.articulo{
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(227, 245, 228, 0.8); /* Fondo semitransparente para el contenido */
}

.articulo .contenedor-nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.articulo .contenedor-imagen-Fresas{
    background-image: url("../media/Foto-artículo-cultivo-de-flores.jpg");
    border-bottom: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
}

.articulo .contenedor-imagen-Lirio{
    background-image: url("../media/Foto-artículo-Lirios.png");
    border-bottom: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
}

.articulo .contenedor-imagen-Durazno{
    background-image: url("../media/Foto-artículo-cultivo-de-Durzno.jpg");
    border-bottom: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
}

.articulo .contenedor-imagen-SoilMate{
    background-image: url("../media/SoilMate-Articulo.jpg");
    border-bottom: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
}

.articulo .contenedor-imagen img{
    max-width: 50vw;
}

.articulo .contenido{
    display: flex;
    margin: 20px 24px;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.articulo .contenido p{
    white-space: pre-line;
    font-size: 25px;
    overflow-wrap: break-word;
    max-height: 100vh; /* Establece una altura máxima deseada */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
