.Seccion-integrantes{
    background-color: #ebe8e8;
    width: 100vw;
    height: 100vhvh;
    padding: 24px;
    display: flex;
    justify-content: center;
    background-color: #FEF5E7;
}

.Seccion-integrantes .Contenedor-integantes{
    width: 80vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1000px){
    .Seccion-integrantes .Contenedor-integantes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(min-width: 1800px){
    .Seccion-integrantes .Contenedor-integantes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}