
.Seccion-integrantes{
    width: 100vw;
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    flex-wrap: wrap;
    height: 100vh;
}

.Seccion-integrantes .Contenedor-integantes{
    width: 80vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 8vw ;
}

.Seccion-integrantes .Historia-integrantes p{
    overflow: hidden;    
}

.Seccion-integrantes .Historia-integrantes {
    overflow: hidden;    
    width: 100vw; 
    padding: 2vh 8vw;
}



@media(min-width: 1000px){
    .Seccion-integrantes .Contenedor-integantes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(min-width: 1800px){
    .Seccion-integrantes .Contenedor-integantes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}
